#container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #334f77;
}

h1{
  margin-bottom: 5vh;
  font-size: 40px;
  color: white;
}

#calculator{
  width: 15vw;
  height: 35vh;
  min-width: 250px;
}

#display{
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-color:rgba(156,153,144,0.7);
  border: 1px solid white;
}

#value{
  color: white;
  font-size: 32px;
  font-weight: bold;
}

#operation{
  color: white;
  font-weight: bold;
}

#buttons-container{
  height: 30vh;
  display: grid;
  grid-template-rows: repeat(5, 25fr);
  grid-template-columns: repeat(4, 25fr);
}

button{
  background-color:#9C9990;
  border: 1px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.7;
  padding: 0;
}

.button-color{
  background-color: #313638;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

button:active, button:focus {
  outline: none;
}

#equals{
  grid-area: 5/1/5/4;
}